.dashboard {
  margin: 0;
  padding: 0;
  background-image: url("../../assets/images/dashboard-bg.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  min-width: 98vw;
}
.dashboard_desc h1 {
  padding-top: 100px;
  font-size: 64px;
  text-align: center;
  font-weight: 800;
  color: #fff;
  line-height: 92px;
  text-transform: uppercase;
}
/* .dashboard_conatiner {
  background-color: #313131;
  height: 200px;
} */
#sidebar {
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  background: #313131 !important;
}
.list-group-item {
  border: none !important;
  padding-top: 60px 0;
  font-size: 20px;
  font-weight: 600;
  color: #515151 !important;
  background: #313131 !important;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
}
.right_sidebar {
  background: #313131 !important;
  color: #fff !important;
}
