/* @font-face {
  font-family: "GothamBold";
  src: local("GothamBold"),
    url("./assets/fonts/GothamBold.ttf") format("truetype");
} */

body {
  margin: 0;
  /* font-family: GothamBold !important; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: GothamBold, sans-serif;
}
